.leftbox{
    width:10vw;
    height: 710px;
    background-color: bisque;
    transition-property: all;
    transition-timing-function: linear;
    transition-delay: 0.1;
    transition-duration: 0.9s;
    position:relative;
    top: 198px;
    text-align: center;
    display:block;
    text-decoration: none;

}
.leftbox a{
    text-decoration: none;
}
.leftbox:hover{
    background-color: burlywood;
    width:15.4vw;
    translate: 3px;
}
.leftbox a:hover{
    color: rgb(160, 16, 16);
}
.leftbox a:focus{
    color: aliceblue;
}
.upperbox{
    width: 100vw;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    left: 0px;
    bottom: 790px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.9rem;
    color:rgb(239, 239, 140);
}
.upperbox h3{
    position: relative;
    top: 30px;
}
.cou{
    text-decoration: none;
    font-size: 3.8vw;
    font-size: 3.8vh;
}
.tt{
    margin: 8px 8px 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.ing{
   position:relative;
   top: 934px;
   width: 100vw;
}
.ram{
    position: relative;
    bottom: 940px;
}    
.yo {
    display: grid;
    grid-template-areas:
    "h h h"
    "h h h";
    justify-content: center;
    font-size: 2.5vw;
    position: relative;
    top: -250px;;
    left: 84px;
}
.ws{
    position: relative;
    top: -50px;
}
.ghx{
    position: relative;
    top: -50px;
}
.pop{
    position: relative;
    top: -50px;
}
.push{
    position: relative;
    top: -50px;
}
.mut{
    position: relative;
    top: -50px;
}
.ac{
    position: relative;
    top: -50px;
}
.yo table{
    border: 1px solid black;
    margin: 10px 70px 20px;
    background-color: rgba(0,0,0,0.9);
    color: rgb(234, 234, 7);
    padding: 10px 10px 10px;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{   
    border-radius: 50px;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#ff61d2,#fba314);
    border-radius: 30px;
}
.ram{
    margin-bottom: -1400px;
}
body{
    overflow-x: hidden;
}
.yo th{
    color:rgb(223, 220, 220);
    font-size: 1.29rem;
}
.xx ul{
    display: flex;
    list-style:none;
    width: 900px;
    font-size: 1.5rem;
    transform: skew(-20deg);
    position: relative;
    top: -1050px;
    left: 900px;
    
}
.xy a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 8px;
    border-right: 2px solid rgb(38, 37, 37);
    background-color: rgb(201, 216, 211);
    box-shadow: 1.95px 1.95px 2.6px rgb(0,0,0,0.7);
    color: rgb(11, 11, 9);
    border-radius: 4px;
    padding: 5px 5px 5px;
    transition: all;
    transition-delay: 0.1s;
}
.xy a:hover{
    background-color:#0984e3;
}
.xy a:hover{
    color: aliceblue;
}
.xy a:focus{
    color: black;
}
.yo table th{
    font-size: 1.9rem;
}
@media all and (max-width: 750px){
    .leftbox{
        width:15.95vw;
        height: 516px;
        background-color:rgb(226, 175, 81);
        transition-property: all;
        transition-timing-function: linear;
        transition-delay: 0.1;
        transition-duration: 1s;
        position:relative;
        top: 400px;
        text-align: center;
        display:block;
        font-size: 2vw;
    
    }
    .leftbox a{
        text-decoration: none;
    }
    .leftbox:hover{
        background-color: burlywood;
        width:19.9vw;
        translate: 3px;
    }
    .cou{
        font-size: 3.9vw;
    }
    .cou:hover{
        font-size: 2.5vw;
        font-size: 2.5vh;
    }
    .ing{
        width: 500px;
        height: 98vh;
        position: relative;
    }
    .yo table{
        height: 50px;
        width: 60%;
        position: relative;
        left: -30px;
        margin: 8px 5px 10px;
        font-size: 0.9rem;
        top: 20px;
    }
    body{
        overflow-x: hidden;
    }
    .yo table th{
        font-size: 1.4rem;
    }
    .ws{
        position: relative;
        top: -50px;
    }
    .ghx{
        position: relative;
        top: -50px;
    }
    .pop{
        position: relative;
        top: -50px;
    }
    .push{
        position: relative;
        top: -50px;
    }
    .mut{
        position: relative;
        top: -50px;
    }
    .ac{
        position: relative;
        top: -50px;
    }
    .upperbox{
        width: 100vw;
        height: 150px;
        background-color: rgba(0,0,0,0.5);
        position: relative;
        left: 0px;
        bottom: 340px;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 7vw;
        font-size: 7vh;
        color:rgb(239, 239, 140);
    }
    .yo{
        display: grid;
       grid-template-areas:
       " h    hp"
        "u    up";
    }
    .iff{
        position: relative;
        left: 160px;
    }
    .iff a{
        width: 10px;
        height: 60px;
        border: 3px solid black;
        background-color: rgba(0,0,0,0.9);
        margin: 10px 5px 10px;
        padding: 10px 5px 10px;
        color:rgb(192, 192, 31);
        text-decoration: none;
        font-size: 1rem;
        position: relative;
        top: 320px;
        left: 10px;
       
    }
    .iff a:focus{
        color: blueviolet;
    }
    .ram{
        margin-bottom: -1000px;
    }
    .xx ul{
        display: flex;
        list-style:none;
        width: 350px;
        font-size: 1.02rem;
        transform: skew(-20deg);
        position: relative;
        top: -840px;
        left: 100px;
        
    }
    .xy a {
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 8px;
        border-right: 2px solid rgb(38, 37, 37);
        background-color: rgb(201, 216, 211);
        box-shadow: 1.95px 1.95px 2.6px rgb(0,0,0,0.7);
        color: rgb(11, 11, 9);
        border-radius: 4px;
        padding: 5px 5px 5px;
        transition: all;
        transition-delay: 0.1s;
    }
    .xy a:hover{
        background-color:#0984e3;
    }
    .xy a:hover{
        color: aliceblue;
    }
    .xy a:focus{
        color: black;
    }
    .upperbox h3{
        position: relative;
        top: 0px;
        font-size: 2.9rem;
    }
}
